{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "react/no-unused-prop-types": "off",
    "import/no-named-as-default": "off"
  }
}
