.item {
  display: block;
  padding: 16px 0;
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;
}

.item, .item:visited {
  color: black;
}

.item:last-child {
  border: none;
}

.thumbnail {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  vertical-align: top;
}

.info {
  display: inline-block;
  width: 580px;
  padding: 16px;
}

.priceAndShipping {
  margin-bottom: 32px;
}

.price {
  font-size: 24px;
}

.freeShipping {
  height: 18px;
  vertical-align: baseline;
  margin-left: 10px;
}

.title {
  font-size: 18px;
  width: 480px; /* five columns */
}

.city {
  display: inline-block;
  width: 180px; /* 2 columns */
  height: 80px; /* 1 column */
  vertical-align: top;
  font-size: 12px;
  line-height: 72px; /* 1 column - half padding */
}
